<h1><%= "HOME PAGE" %></h1>
<%= routes["/about/"].url_path %>
<%= routes["/posts/"].url_path %>
<%= routes["/resume/"].url_path %>
<%= routes["/resume.pdf"].url_path %>
<%= render(contents_path.join("partial.html.erb"), renderers: [Confinement::Renderer::Erb.new]) %>
